<div class="d-flex justify-content-center align-items-center">

    <div class="col-6">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginFrom()" autocomplete="off">
            <div>
                <h2 class="text-center">Login</h2>
            </div>

            <div class="form-floating mb-3">
                <input formControlName="email" [class.is-invalid]="subnitted && loginForm.get('email')?.errors"
                    id="emailId" type="email" placeholder="Email Address" class="form-control">
                <label for="eamilId">Email Address</label>
                <span class="invalid-feedback" *ngIf="subnitted && loginForm.get('email')?.hasError('required')">email
                    is
                    required</span>
                <!-- <span class="invalid-feedback" *ngIf="subnitted && loginForm.get('email')?.hasError('minlength') || loginForm.get('email')?.hasError('maxlength')">email is required</span> -->
            </div>


            <div class="form-floating mb-3">
                <input formControlName="password" [class.is-invalid]="subnitted && loginForm.get('password')?.errors"
                    type="password" placeholder="Password" class="form-control">
                <label>Password</label>
                <span class="invalid-feedback"
                    *ngIf="subnitted && loginForm.get('password')?.hasError('required')">password
                    is required</span>
            </div>

            <div class="form-floating mb-3 text-danger" *ngIf="errorMessages.length > 0">

                <app-validation-messages [errorMessage]="errorMessages"></app-validation-messages>
                <a (click)="resendEmailConfirm()" *ngIf="errorMessages[0].includes('Please Confirm your Email')">
                    Please, Click here to resend Email Confiramtion (in case you dont reseve it !!)
                </a>
            </div>

            <div class="d-grid mt-3 P-3">
                <button class="btn btn-outline-primary">Log in</button>
            </div>
            <div class="text-center mt-3">
                <a class="btn btn-link" routerLink="/account/send-email/forgot-email-or-password">
                    <h6>forget username or password</h6>
                </a>
            </div>

        </form>

    </div>

</div>