<div class="container">
    <div class="d-flex justify-content-center" *ngIf="token && email">
        <div class="col-6">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                <div class="text-center mb-4">
                    <h2 class="mb-3">
                        <span>
                            Reset Your Password !
                        </span>

                    </h2>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" placeholder="Email Address" formControlName="email">
                    <label>Email</label>

                </div>

                <input [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors" type="password"
                    class="form-control" placeholder="paswword" formControlName="paswword">
                <label>New Password</label>
                <span class="invalid-feedback"
                    *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">Password is require
                </span>
                <span class="invalid-feedback"
                    *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('paswword')?.hasError('maxlength')">
                    Password Must be at least (6) and maximum (15) charchters
                </span>





                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit">Change</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button"
                                routerLink="/account/login">Cancel</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>